# GIZLI ANAHTARLAR VE ORTAM AYARLARI
.env
.env.local

# PYTHON'IN OTOMATIK OLUSTURDUGU KLASOR VE DOSYALAR
__pycache__/
*.pyc

# ⚠️ SISTEMINIZIN URETTIGI GECICI VERI VE LOG DOSYALARI
patches/
scraper.log